@(project: translator.core.Project, languages: List[translator.core.Language])

@base("Index") {
  <div class="project">
    <table>
      <tbody>
        @project.progress.get.map { case (lang, pct) =>
        <tr>
          <td>@lang</td>
          <td>@pct</td>
          <td>
            @if(100F == pct) {
            <a href="@translator.controllers.routes.EmbedController.translations(project.id.toString, lang)">Fix it</a></td>
            } else {
            <a href="@translator.controllers.routes.EmbedController.translations(project.id.toString, lang)">Translate it</a></td>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
}
