@(project: translator.core.Project, lang: String, translations: List[translator.core.Translation])

@base("Translations") {
  <form action="@translator.controllers.routes.EmbedController.submit(project.id.toString, lang)" method="post">
    <div class="translations">
      @translations.zipWithIndex.map { case (trans, index) =>
      <div class="translation">
        <label>@trans.name</label>
        <input type="text" name="translations[@index].text" value="@trans.text">
        <input type="hidden" name="translations[@index].name" value="@trans.name">
      </div>
      }
    </div>

    <input type="submit" value="Send Translation Request">
  </form>
}
