<div class="toolbar">
  <input type="text" class="search" placeholder="Search for ...">
</div>

<div class="sub-toolbar">
  <div class="pull-left">
    <button class="btn btn-small" id="filter" data-title="Filter" data-content="<div class='popover-container'></div>" data-placement="bottom">
      <i class="icon-cog"></i> Filter
    </button>
  </div>

  <div class="pull-right">
    <button class="btn btn-small btn-primary create">New Entry</button>
  </div>
</div>

<table class="table entry-table">
  <tbody id="entry-list"></tbody>
</table>
