<center class="padding10">
  <h1>Import</h1>

  <p class="muted">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet 
    clita kasd gubergren.
  </p>
  <br>

  <form>
    <label for="language">Language</label>
    <select name="language">
      <option value="en">en</option>
      <option value="de">de</option>
      <option value="fr">fr</option>
    </select>
    <input id="file" type="file">
    <br>

    <button class="btn btn-primary upload"><i class="icon-save"></i> Upload</button>
  </form>
</center>
