<div class="manual padding10">
  <h1>Welcome to your new Project!</h1>
  <p class="muted">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
    voluptua. At vero eos et accusam et justo duo dolores.
  </p>
  <br>

  <ul class="nav nav-list nav-list-framed">
    <li><a href="#">Languages</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Translations</a></li>
  </ul>
</div>

<div class="form-actions">
  <button class="btn cancel">Cancel</button>
</div>
