<div class="padding10">
  <h1>{{ name }}</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Language</th>
        <th>&nbsp;</th>
        <th>Number Of Entries</th>
        <th>Done</th>
        <th>Number Of Words</th>
      </tr>
    </thead>

    <tbody>
      {% _.each(statistics.progress, function (percentage, lang) { %}
      <tr>
        <td>{{ lang }}</td>
        <td>
          <div class="progress">
            <div class="bar" style="width: {{ percentage }}%"></div>
          </div>
        </td>
        <td>{{ statistics.nb_entries }}</td>
        <td>{{ percentage }}%</td>
        <td>{{ statistics.nb_words[lang] }}</td>
      </tr>
      {% }) %}
    </tbody>
</div>
