<div class="padding10">
  <h1><i class="icon-list-alt"></i> {{ name }}</h1>
  <table class="table table-boxed">
    <thead>
      <tr>
        <th>Language</th>
        <th>Progress</th>
        <th>Entries</th>
        <th>Done</th>
        <th>Words</th>
      </tr>
    </thead>

    <tbody>
      {% _.each(statistics.progress, function (percentage, lang) { %}
      <tr>
        <td class="language-row">{{ lang }}</td>
        <td class="progress-row">
          <div class="progress">
            <div class="bar" style="width: {{ percentage }}%"></div>
          </div>
        </td>
        <td>{{ statistics.nb_entries }}</td>
        <td>{{ percentage }}%</td>
        <td>{{ statistics.nb_words[lang] }}</td>
      </tr>
      {% }) %}
    </tbody>
</div>
