{% if ("active" === status || "empty" === status) { %}
<div class="translation">
  <label>{{ code }}</label>
  <textarea name="translations[{{ id }}].text" rows="1" type="text" placeholder="Enter your translation suggestion">{{ text }}</textarea>
</div>
{% } else { %}
<div class="translation-request">
  <blockquote>
    <p>{{ text }}</p>
    <small>by <cite>{{ author }}</cite></small>
    {% if (true === admin) { %}
    <a href="#" class="accept">accept</a>
    <a href="#" class="reject">reject</a>
    {% } %}
  </blockquote>
</div>
{% } %}
