<div class="toolbar">
</div>

<div class="sub-toolbar">
  <div class="pull-right btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"> Selection<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a class="remove" href="#">Remove</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn btn-small btn-primary add">Add User</button>
      <button class="btn btn-small btn-primary create">Create User</button>
    </div>
  </div>
</div>

<table class="table pane-table">
  <tbody id="user-list"></tbody>
</table>
