<div class="container">
  <div class="row">
    <div class="span4 offset4">
      <div class="signin">
        <div class="inner">
          <form>
            <h1 class="pull-middle">Sign In</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button class="btn btn-primary sign-in">Sign In</button>
          </form>
        </div>
      </div>
      <br>

      <center>
        <span class="muted">Don't have an account?</span> <a href="#" class="show-sign-up">Sign Up</a>
      </center>
    </div>
  </div>
</div>
