@import "mixins.less";
@import "my-bootstrap.less";
@import "my-chosen.less";

@navigationBackgroundColor: #34313A;
@navigationBackgroundColorActive: #448AFA;
@navigationLinkColor: #9F98AA;

@borderColorLight: #eee;


/* =============================================================================
   Layout
   ========================================================================== */

body {
  background: url(../images/background-light.png);
}

.application {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  height: 100%;
  background: #ccc;
}

.toolbar {
  background: #f2f2f2;
  border-bottom: 1px solid @borderColorLight;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  .search {
    width: 100%;
    padding: 5px 0;
  }
}

.sub-toolbar {
  background: #f9f9f9;
  border-bottom: 1px solid @borderColorLight;
  height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
}


/* =============================================================================
   Navigation
   ========================================================================== */

.navigation {
  background: @navigationBackgroundColor;
  .nav {
    li a {
      color: @navigationLinkColor;
      text-shadow: 0 1px 0 darken(@navigationLinkColor, 80%);
      padding: 6px 10px;
    }
    li a:hover {
      background: lighten(@navigationBackgroundColor, 10%);
    }
    li.active a {
      background: @navigationBackgroundColorActive;
      color: #fff;
      text-shadow: 0 1px 0 darken(@navigationBackgroundColorActive, 30%);
      font-weight: bold;
    }
    li.nav-header {
      padding: 6px 10px;
      background: lighten(@navigationBackgroundColor, 3%);
    }
  }
  .toolbar {
    background: darken(@navigationBackgroundColor, 3%);
    border: 0;
  }
}


/* =============================================================================
   Login
   ========================================================================== */

.login {
  margin-top: 120px;
  h1 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
  }
  input {
    width: 100%;
    border-color: #dadada;
    border-top-color: #bbb;
    padding: 8px 0;
    .box-shadow(inset 0 1px 0 rgba(0, 0, 0, 0.07));
  }
  .btn {
    width:100%;
    padding: 4px 0;
    margin-top: 10px;
  }
}


/* =============================================================================
   Framebox
   ========================================================================== */

.framebox {
  .frameboxMixin();
  .inner {
    padding: 10px;
  }
}

.frameboxMixin (@radius: 3px, @shadow: 0 3px 7px rgba(0, 0, 0, 0.3)) {
  background: #fff;
  .border-radius(@radius);
  .box-shadow(@shadow);
  .background-clip(padding-box);
}


/* =============================================================================
   Entries
   ========================================================================== */

.entry-table {
  td {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid @borderColorLight;
    background: #fff;
    cursor: pointer;
  }
  td.progress-row {
    width: 60px;
    .progress {
      margin-bottom: 0;
    }
  }
  td.open {
    width: 10px;
  }
  tr:hover td {
    background: darken(#fff, 2%);
  }
}

.language-edit,
.translations,
.user-edit,
.user-add {
  background: #f2f2f2;
  label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
  }
  input, textarea {
    width: 100%;
    border-color: #dadada;
    border-top-color: #bbb;
    padding: 8px 0;
    .box-shadow(inset 0 1px 0 rgba(0, 0, 0, 0.07));
  }
  h2 {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: #666;
    text-transform: uppercase;
    text-align: center;
  }
  form {
    .scollable {
      overflow-y: auto;
    }
    .form-actions {
      position: fixed;
      bottom: 0;
      margin-bottom: 0;
      width: 100%;
    }
  }
}


/* =============================================================================
   Filter
   ========================================================================== */

.popover-container {
  form {
    select {
      width: 300px;
    }
  }
}


/* =============================================================================
   Alerts
   ========================================================================== */

.alert {
  width: 200px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -100px;
  box-sizing: border-box;
}


/* =============================================================================
   Translations
   ========================================================================== */

.translation {
  margin-top: 20px;
}

.translation-request {
  blockquote p {
    margin-bottom: 0;
  }
}
