<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Translator</title>
    <link rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/font-awesome.css")">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/chosen.css")">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/main.css")">
  </head>

  <body>
    <script src="@controllers.routes.Assets.at("javascripts/jquery.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/bootstrap.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/bootstrap-notify.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/chosen.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/underscore.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/backbone.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/libs/rest.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/libs/objectify.js")"></script>
    <script data-main="assets/javascripts/main" src="@controllers.routes.Assets.at("javascripts/require.js")"></script>
  </body>
</html>
